{{ $img:= "./images/v1/background.png" }}

<section id="achievements" class="py-5 achievements-backdark achievements-back">
  <div class="container-fluid">
    <div class="text-dark text-center h3">Achievements</div>
    <div class="row justify-content-center py-3 mx-2">
      {{ range .Site.Params.achievements }}
      <div class="col-md-5 achiv-out px-4 px-md-2 my-2" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="600" data-aos-once="false">
          <div class="p-3 w-100 achiv overflow-hidden">
            <h4 class="text-center">{{ .point }}</h4>
          </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>